<div id="<%= dom_id master_id %>">
  <p>
    <strong>Snowflake:</strong>
    <%= master_id.snowflake_id %>
  </p>

  <p>
    <strong>Snowflake data:</strong>
    <%= master_id.snowflake_data %>
  </p>

</div>
